@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  *::selection {
    @apply bg-cyan-500  text-gray-800;
  }
  html::-webkit-scrollbar {
    @apply w-2;
  }
  html::-webkit-scrollbar-track {
    @apply bg-gray-800;
  }
  html::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-b from-cyan-400 to-cyan-600 border border-none rounded-lg;
  }
}
@font-face {
  font-family: "Harlow Solid Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Harlow Solid Italic"),
    url("/font/Harlow Solid Italic.woff") format("woff");
  src: local("Harlow Solid Italic"),
    url("/font/Harlow Solid Italic.ttf") format("truetype");
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");